.input.input.input {
  margin-top: 5px;
  padding: 0 0 15px 0;
  font-size: 12px;
  font-weight: bold;
  color: $green;

  @media (min-width: $screen-md-min) {
    margin-top: 15px;
  }

  &::placeholder {
    font-size: 12px;
    font-weight: bold;
    color: #debf12;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    font-size: 12px;
    font-weight: bold;
    color: $green;
  }

  &::-ms-input-placeholder {
    font-size: 12px;
    font-weight: bold;
    color: $green;
  }
}