.container {
  text-align: center;
  padding-bottom: 5px;
 background: #000;
}

.title {
  margin: 18px 0 0 0;
  font-size: 18px;
  font-weight: 400;
  color: $green;

  span {
    color: $gold;
  }
}

.subtitle {
  margin: 12px 0;
  font-size: 14px;
  font-weight: 400;
  color: $gold;

  a {
    font-weight: bold;
    color: $green;

    &:hover {
      color: $green;
    }
  }
}

.warning {
  margin: 15px 0 0 0;
  color: $green;
  font-weight: 500;
  cursor: pointer;
}

.another-order.another-order {
  display: inline-block;
  color: $green;
  font-weight: 500;
  margin: 15px 0 8px 0;

  &:hover {
    color: $green;
    text-decoration: none;
  }
}

.new-order-link.new-order-link {
  color: $green;

  &:hover,
  &:active,
  &:focus {
    color: $green;
    text-decoration: none;
  }
}

.status {
  p {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    color: $gold;

    b {
      font-weight: bold;
      color: $green;
    }
  }
}